{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid vertical-fill-fixed">
        <div class="row h-100">
            <div class="col-12 align-self-center text-center">
                {{ "app.backend.content.pages.not_found.title"|trans }}<br>
                <small>
                    {{ "app.backend.content.pages.not_found.disclaimer"|trans }}
                </small>
            </div>
        </div>
    </div>
{% endblock %}