{% extends "base.html.twig" %}

{% block title %}
    {{ page.title|capitalize }}
{% endblock %}


{% block body %}
    <div class="container-fluid">

        <div class="row justify-content between">

            {% for block in blocks %}
                <div class="{{ block.mobileBreakpoint }} {{ block.desktopBreakpoint }} align-self-center">
                    {{ block.content|raw }}
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}