
.admin__ {

  &container {
    white-space: nowrap;
  }

  &nav {
    height: 8vh;
  }

  &wrapper {
    display: inline-block;
    max-width: 850px;
    margin: auto;
  }

  &sidebar {
    display: inline-block;
    width: 250px;
    min-height: 92vh;
  }
}
