
.admin__ {

  &container {
    white-space: nowrap;
  }

  &nav {
    height: 8vh;
  }

  &wrapper {
    max-width: 850px;
    /*margin: auto;*/
    margin-left: 200px;
  }

  &sidebar {
    float: left;
    width: 200px;
    min-height: 92vh;
  }

  &page-list {
    td {max-width: 300px;}
  }
}
