
.admin__ {

  &container {
    white-space: nowrap;
  }

  &nav {
    height: 8vh;
  }

  &wrapper {
    max-width: 850px;
    /*margin: auto;*/
    margin-left: 200px;
  }

  &sidebar {
    float: left;
    width: 200px;
    min-height: 92vh;
  }
}


#blocks {
  min-height: 300px;
  width: 820px;
}

#addBlocksButton {
  height: 75px;
}