$primary: #109e92;

@import '~bootstrap';
@import 'bootstrap-overrides';
@import 'icons';
@import 'admin';
@import 'forms';
@import 'flashes';
@import 'menus';
@import 'tables';
@import 'effects';
@import 'blocks';
@import 'typography';
@import 'pages';

body {
    background-color: lightgray;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

