<div class="row">
    <div class="col-12">
        <h2>Edit Page Content</h2>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <button id="addBlocksButton" type="button" class="btn btn-outline-primary btn-block">Add New Block</button>
    </div>
</div>

<div id="blocks__container">
    <div id="blocks" class="custom-shadow-inset border border-primary p-3">
        blocks
    </div>
</div>