{% extends 'base.html.twig' %}

{% block navigation %}
    {% include "shared/admin_menu.html.twig" %}
{% endblock %}

{% block body %}
    {% include "admin/sidebar.html.twig" %}
    <div class="admin__wrapper container-fluid mt-3">
        {% block admin_body %}
        {% endblock %}
    </div>
    <div class="clearfix"></div>
{% endblock %}